.slick-slide {
	padding: 0 20px;
}

.slick-next {
	right: -30px !important;
	width: 30px !important;
	height: 30px !important;
}

.slick-prev {
	left: -30px !important;
	width: 30px !important;
	height: 30px !important;
}

.slick-next::before,
.slick-prev::before {
	color: #f77e0b !important;
	font-size: 30px !important;
}

.slick-dots > li > button::before,
.slick-dots li.slick-active button::before {
	color: #f77e0b !important;
	font-size: 10px !important;
}
